<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&there4; Talk about something</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

  <div class="grid-container">

    <%= yield %>

  </div>

</body>
</html>
