<div class="login_header">
  <h1>Talk about something</h1>
</div>

<div class="login_form">

  <form action="/session" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
    <br>
    <button>&rarr;</button>
  </form>

  <form action="/new_user" id="new_user">
    <button>New?</button>
  </form>

</div>

<div class="login_footer">
  <h4>by Evan.</h4>
</div>
