<div class="login_header">

  <h1>create new post</h1>
  <a href="/"><h2>&larr; Back</h2></a>

</div>

  <form action="/post/new" method="post">
    <label for="">image_url</label>
    <input type="text" name="image_url" autocomplete="off">
    <label for="">post content</label>
    <textarea name="content"></textarea>
    <button>Send it!</button>
  </form>
