<h1>new user</h1>

<form action="/create_user" method="post">
  <label for="">username</label>
  <input type="text" name="username">
  <label for="">password</label>
  <input type="password" name="password">
  <button>create</button>
</form>
