<div class="login_header">

  <h1><span class="logo">&there4;</span> Join in.</h1>
  <a href="/"><h2>&larr; Back</h2></a>

</div>

<div class="login_form">

  <form action="/create_user" method="post">
    <span class="error_message"><%= @error_message %></span>
    <input type="text" name="username" placeholder="Who are you?" autocomplete="off">&nbsp;
    <input type="password" name="password" placeholder="&bull;&bull;code&bull;&bull;">&nbsp;
    <input type="password" name="password_confirm" placeholder="&bull;confirm&bull;">
    <br>
    <button>&rarr;</button>
  </form>

</div>

<div class="login_footer">
  <h4>by Evan.</h4>
</div>
