<h1>create new post</h1>

<a href="/">Home</a>

<form action="/post/new" method="post">
  <label for="">image_url</label>
  <input type="text" name="image_url">
  <label for="">post content</label>
  <textarea name="content">Post content...</textarea>
  <button>post</button>
</form>
