<div class="login_header">

  <h1><span class="logo">&there4;</span> Comment something.<br>#<%= @post['id'] %></h1>
  <a href="/post/<%= @post['id'] %>"><h2>&larr; Back</h2></a>

</div>

<div class="new_post">

  <form action="/comment/new" method="post">
    <input type="hidden" name="post_id" value="<%= @post['id'] %>">
    <input type="text" name="image_url" autocomplete="off" placeholder="image url">&nbsp;
    <textarea name="content" rows="5" cols="38" style="resize:none" maxlength="2000"></textarea>
    <br><button>Send it!</button>
  </form>

</div>

<div class="login_footer">

  <h4>by Evan.</h4>

</div>
